<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Article</title>
</head>

<body>
    <%- include('layouts/header'); -%>
    <%- include('layouts/nav_dashboard'); -%>

    <article>
        <h3><%= title %></h3>
        <h4><%= author %></h4>
        <img src="/article_images/<%= image %>">
        <%- content %>
        <p>genre:<%= genre %></p>
    </article>
</body>
</html>