<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/ico" href="/images/icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Article Dashboard</title>
</head>
<body>
    <%- include('layouts/header'); -%>
    <%- include('layouts/nav_dashboard'); -%>
    <div class="container col-md-10">
        <section id="article_list">
            <table>
                <thead>
                    <tr class="d-flex">
                        <th class="col-5">Title</th>
                        <th class="col-3">Author</th>
                        <th class="col-2">Genre</th>
                        <th class="col-2">Date</th>
                        <th class="col-1">Edit</th>
                        <th class="col-1">Delete</th> 
                    </tr>
                </thead>
                <tbody>
                    <% for( var article of articles  ) { 
                        %>
                        <tr class="d-flex">
                            <td class="col-5"><a href="/article/<%= article.id %>/detail"><%= article.title %></a></td>
                            <td class="col-3"><%= article.author %></td>
                            <td class="col-2"><%= article.genre %></td>
                            <td class="col-2"><%= `${article.date.getFullYear()}-
                                                    ${article.date.getMonth()}-
                                                    ${article.date.getDate()}   ` %></td>
                            <td class="col-1"><input type="button" value="Edit" onclick="location.href='/article/<%= article.id %>/update'"></td>
                            <td class="col-1"><input type="button" value="Delete" onclick="location.href='/article/<%= article.id %>/delete'"></td>
                        </tr>
                        <% 
                        } 
                    %>
                </tbody>
            </table>
        </section>
    </div>
</body>
<%- include('layouts/footer'); -%>
</html>