<!DOCTYPE html>
<html lang="en">
<head>    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/ico" href="images/icon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>Blog Article</title>
</head>

<body>    
    <%- include('layouts/header'); -%>
    <%- include('layouts/nav_index'); -%>
    <div class="container col-md-10" style="margin-top:50px;">    
        <article class="container">
            <h3 style="font-family:Verdana, Geneva, Tahoma, sans-serif;"><%= article.title %></h3>
            <h5><%= article.author %></h5>
            <p>Genre:<%= article.genre %></p>
            <img src="/article_images/<%= article.image %>" width="800px">
            <br><br>
            <%- article.content %>
            <br><br>
        </article>
    </div>
</div>
</body>
<%- include('layouts/footer'); -%>
</html>