<%- include('layouts/header'); -%>
  <body>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->

      <!-- Header and Nav -->
      <%- include('layouts/nav'); -%>
  </body>
  <%- include('layouts/footer'); -%>
