<!DOCTYPE html>
<html>
  <head>
    <title><%= pageTitle %></title>
  </head>
  <body>
<<<<<<< HEAD
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->

      <!-- Header and Nav -->
      <header>
        <img src="/images/logo.jpg" alt="logo">
        <h1>Welcome to our blog!</h1>
      </header>

      <nav id="nav_menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/article/list">Articles List</a></li>
          <li><a href="/article/create">Articles Create</a></li>
          <li><a href="/users">Log In</a></li>
        </ul>
      </nav>
=======
      <%- include('layouts/header'); -%>
      <%- include('layouts/nav_index'); -%>
      
>>>>>>> master
  </body>
</html>
